.general-modal {
  .modal-dialog {
    max-width: 720px;
    .modal-header {
      border-bottom: none;
      border-radius: 10px;
      position: relative;
      padding-top: 40px;
      padding-bottom: 0;
      padding-right: 70px;
      @include media-breakpoint-down('sm') {
        padding-right: 20px;
      }
      .close {
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 40px;
        background-color: $primary;
        color: $white;
        text-decoration: none;
        position: relative;
      }
      .close:after {
          content: '';
          height: 25px;
          border-left: 2px solid $white;
          position: absolute;
          transform: rotate(45deg);
          left: 18px;
          top: 8px;
      }
    
      .close:before {
          content: '';
          height: 25px;
          border-left: 2px solid $white;
          position: absolute;
          transform: rotate(-45deg);
          left: 18px;
          top: 8px;
      }
      &:before {
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $gray-700;
      }
    }
    .modal-body {
      padding: 70px;
      padding-top: 40px;
    }
    .modal-content {
      border-radius: 10px;
    }
  }
}