@charset "UTF-8";

$slick-arrow-color: transparent !default;
// $slick-prev-character: "\2190" !default;
// $slick-next-character: "\2192" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Slider */

.slick-list {
  .slick-loading & {
    background: #fff center center no-repeat;
  }
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  &:hover, &:focus {
    outline: none;
    // background: transparent;
    color: transparent;
    &:before {
      opacity: $slick-opacity-on-hover;
    }
  }
  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }
  &:before {
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.slick-prev {
  left: -25px;
  background-image: url('../../media/icons/arrow-left.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  [dir="rtl"] & {
    left: auto;
    right: -25px;
  }
  &:before {
    content: '';
    [dir="rtl"] & {
      content: '';
    }
  }
}

.slick-next {
  right: -25px;
  background-image: url('../../media/icons/arrow-right.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  [dir="rtl"] & {
    left: -25px;
    right: auto;
  }
  &:before {
    content: '';
    [dir="rtl"] & {
      content: '';
    }
  }
}

/* Dots */

.slick-dotted.slick-slider {

}

.slick-dots {
  position: absolute;
  bottom: 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 0.3125em;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background-color: color('white');
      color: transparent;
      border-radius: 10px;
      display: block;
      height: 10px;
      width: 10px;
      outline: none;
      line-height: 0px;
      font-size: $font-size-xs;
      padding: 0.3125em;
      cursor: pointer;
    }
    &.slick-active button {
      // background-color: theme-color('primary');
      // color: color('white');
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 1px solid white;
        left: -5px;
        top: -5px;
      }
    }
  }
}