.request-page {
  .section-rect {
    background-color: $gray-100;
    padding: 60px 0;
    .rect-box {
      margin-top: 0;
      border-top: 1px solid $primary;
    }
  }
  .section-space {
    // border-bottom: 1px solid $primary;
  }
  .section-form {
    padding-bottom: 60px;
    .request-form {
      max-width: 943px;
      background-color: $gray-100;
      padding: 60px 150px;
      padding-left: 20px;
      margin-left: auto;
      margin-right: auto;
      .form-item {
        display: flex;
        // align-items: center;
        margin-bottom: 50px;
        label {
          width: 300px;
          text-align: right;
          margin-right: 50px;
          color: $primary;
          font-size: 24px;
        }
        textarea {
          max-width: 457px;
          width: 100%;
          border-color: $primary;
          font-size: 20px;
        }
        input {
          max-width: 457px;
          width: 100%;
          padding: 7px 18px;
          border-color: $primary;
        }
        select {
          max-width: 457px;
          width: 100%;
          padding: 7px 18px;
          border-color: $primary;
        }
        div {
          max-width: 457px;
          width: 100%;
        }
      }      
    }
  }
}