.whitepapers-page {
  .section-rect {
    background-color: $gray-100;
    padding: 60px 0;
    .rect-box {
      margin-top: 0;
      border-top: 1px solid $primary;
    }
  }
  .section-space {
    border-bottom: 1px solid $primary;
  }
  .two-column-primary {
    background-color: $primary;
    position: relative;
    padding-top: 168px;
    padding-bottom: 60px;
    @include media-breakpoint-down('lg') {
      padding-top: 40px;
    }
    .title {
      position: relative;
      font-family: $font-family-monospace;
      &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: $secondary;
        left: -43px;
        top: 25px;
        @include media-breakpoint-down('lg') {
          background-color: transparent;
        }
      }
    }
    .value-item {
      @include media-breakpoint-down('md') {
        padding-left: 0;
      }
      .value {
        padding: 6px 0;
        font-weight: 500;
        font-size: $font-size-lg;
      }
    }
    .down-item {
      max-width: 340px;
      margin-left: 40px;
      margin-bottom: 20px;
      color: $white;
      font-size: $font-size-lg;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media-breakpoint-down('md') {
        margin-left: 0;
      }
    }
  }
}