.section-rect {
  .rect-box {
    background-color: $white;
    border-bottom: 1px solid $primary;
    z-index: 4;
    padding: 36px 92px;
    position: relative;
    max-width: 921px;
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-down('md') {
      margin-top: -150px;
      padding: 36px 20px;
    }
  }
}

.section-about {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: $white;
  @include media-breakpoint-down('md') {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .about-content {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    .about-title {
      position: relative;
      font-family: $font-family-monospace;
      margin-bottom: 56px;
      &:before {
        content: '';
        position: absolute;
        width: 40px;
        height: 1px;
        background-color: $primary;
        left: -57px;
        top: 25px;
        @include media-breakpoint-down('md') {
          background-color: transparent;
        }
      }
    }
  }
}
.pattern-left {
  position: absolute;
  width: 109px;
  height: 301px;
  left: 0;
  bottom: 0;
  background-image: url('../../media/pattern.png');
  background-size: cover;
  background-position: center;
}
.section-solutions {
  position: relative;
  padding-bottom: 128px;
  
  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 85px;
    background-color: $white;
    z-index: 2;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 42px;
    background-color: $white;
    z-index: 2;
  }
  .title {
    margin-top: 120px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 1px;
      background-color: rgba($white, 0.7);
      left: -57px;
      top: 25px;
      @include media-breakpoint-down('md') {
        background-color: transparent;
      }
    }
  }
}

.section-case-studies {
  padding-top: 130px;
  padding-bottom: 180px;
  @include media-breakpoint-down('sm') {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .title {
    font-family: $font-family-monospace;
    margin-bottom: 90px;
    margin-top: 20px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -26px;
      width: 40px;
      height: 1px;
      background-color: $primary;
    }
  }
  .description {
    max-width: 556px;
    @include media-breakpoint-down('md') {
      max-width: 100%;
    }
  }
  .featured-image {
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: 20px;
    max-width: 456px;
    width: 100%;
    height: 684px;
    @include media-breakpoint-down('md') {
      max-width: 100%;
    }
  }
}

.section-space {
  padding: 140px 0;
  @include media-breakpoint-down('sm') {
    padding: 70px 0;
  }
}