body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: $font-size-sm;
}

.text-underline {
  text-decoration: underline;
}
.site {
  overflow-x: hidden;
}

img {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

*, body {
  font-variant-ligatures: none;
}

.left-before {
  position: relative;
  font-family: $font-family-monospace;
  &:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: $secondary;
    left: -43px;
    top: 25px;
    @include media-breakpoint-down('lg') {
      background-color: transparent;
    }
  }
}

.border-bottom-primary {
  border-bottom: 1px solid $primary;
}